.idea
.ruby-version
test_fails.txt
/build/
/build_debug/
/build-debug/
/build_release/
/build-release/
/build_64/
/build-64/
/build_profile/
/build-profile/
Packages/dotNetFx40_Client_x86_x64.exe
Packages/dotNetFx40_Full_x86_x64.exe
Packages/SketchUp2015-x86.msi
Packages/OpenStudioThai.exe
